
<div class="container-fluid">
 <div class="row-fluid span12">
  <div class="span12 ">
    <div class="span12 push-right">
      <ul>
        <h4><li><%= image_tag('green-thumb.jpg', size: '40x40') %>Welcome to your profile !</li></h4>
        <h4><li><%= image_tag('green-thumb.jpg', size: '40x40') %> You can view and manage your adverts and orders here</li></h4>
        <h4><li><%= image_tag('green-thumb.jpg', size: '40x40') %> Thanks for being a memeber with Consoledeals.com </li><h4/>
      </ul>
    </div>
  </div>
 </div>

  <div class="row-fluid span12">
    <h4 class="span2"><%= link_to "Edit Profile", edit_user_registration_path %></h4>
  </div>

  <div class="row-fluid span12">
    <br/>
  </div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Seach History</a></li>
      <li><a href="#tab2" data-toggle="tab">Orders</a></li>
      <li><a href="#tab3" data-toggle="tab">Adverts</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="row-fluid">
          <div class="span12">
            <table class="table table-striped">
              <tbody>
              <% if @searches.blank? %>
                <p> You have not searched for any products yet !</p>
              <% else %>
                <%= render :partial => 'search', :collection => @searches %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="span12">
            <table class="table table-striped">
              <tbody>
              <% if @orders.blank? %>
                <p>You don't have any orders yet !</p>
              <% else %>
                <%= render :partial => 'order', :collection => @orders %>
              <% end %>
              </tbody>
              <%= will_paginate @orders %>
            </table>
        </div>
      </div>
      <div class="tab-pane" id="tab3">
        <div class="span12">
            <table class="table table-striped">
              <tbody>
                <% if @adverts.size < 1 %>
                 You don't have any active adverts !
                <% else %>
                  <%= render :partial => 'advert', :collection => @adverts %>
                <% end %>
              </tbody>
              <%= will_paginate @adverts %>
            </table>
        </div>
      </div>
      <div class="tab-pane" id="tab4">
        <div class="span12">


        </div>
      </div>
    </div>
  </div>


</div>
