
  <tr>
    <td><%= image_tag(gift.supplier.image, size: '120x120') %><br/></td>
    <td><%= image_tag(gift.console.name) %></td>
    <td>
      <% if gift.is_bundle %>
        <%= gift.name %><br/>
      <% if gift.item1.present? %>
        <%= gift.item1 %><br/>
      <% end %>
      <% if gift.item2.present? %>
        <%= gift.item2 %><br/>
      <% end %>
      <% if gift.item3.present? %>
        <%= gift.item3 %><br/>
      <% end %>
      <% if gift.extra_controller? %>
      With 1 extra controller
      <% end %>
      <% if gift.item1.nil? && gift.item2.nil? && gift.item3.nil?  %>
        No items includes
      <% end %>
      <% else %>
          <%= gift.name %><br/>
          <%= image_tag(gift.image, size: '60x60') %>
      <% end %>
    </td>


    <td>
      <% if gift.special_offer %>
         <%= number_to_currency(gift.special_offer_price, unit: "€") %>
         <p>Product is on special offer<br/> until <%= gift.end_date %></p>
      <% else %>
        <%= number_to_currency(gift.price, unit: "€") %>
      <% end %>
   </td>

   <td>
     <%= link_to "View Details", product_path(gift), class:"btn btn-block btn-info" %><br/>
     <%= link_to "Add to Cart", line_items_path(product_id: gift),method: :post, remote: true, class: "btn btn-block btn-small btn-success" %>
   </td>


  </tr>



