<tbody>
  <tr>
    <td><%= image_tag(branch.supplier.image, size: '100x100') %></td>
    <td>
      <%= branch.add_1 %> <%= branch.street %><br/>
      <%= branch.town %><br/>
      <%= branch.city %>
    </td>
    <td><%= branch.email %></td>
    <td>
      <%= branch.long %><br/>
      <%= branch.lat %>
     </td>
  </tr>
</tbody>