<div class="container" id="generic">
  <div class="row-fluid">
    <h1><%= @branches.size if @branches %> Inactive Branches</h1>
    <div class="span3"><%= link_to "Active Branches" , branches_path, class: "btn btn-large btn-success"%></div>
  </div>

  <div class="tab-pane push-down">
    <table class="table">
      <tbody>
      <%= render :partial => 'heading' %>
      <%= render :partial => 'branch', :collection => @branches %>
      </tbody>
    </table>
  </div>
  <div class="paginate">
    <%= will_paginate @branches %>
  </div>
</div>

