<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="span12 push-right">
        <ul>
          <% if @adverts.blank? %>
              <li><%= image_tag('green-thumb.jpg', size: '40x40') %> Use the search options to find second han games and consoles</li>
          <% else %>
              <li><%= image_tag('green-thumb.jpg', size: '40x40') %> We have found <%= @adverts.size %> advert based on your search options</li>
          <% end %>
          <li><%= image_tag('green-thumb.jpg', size: '40x40') %> Make sure you check the condition of all goods before you pay</li>
          <li><%= image_tag('green-thumb.jpg', size: '40x40') %> Consoledeals.com is not responsible for faulty goods exchanges between third parties</li>
          <li><%= image_tag('green-thumb.jpg', size: '40x40') %> Create your own advert FREE for a limited period <%= link_to "Create an advert", new_advert_path, class: 'btn btn-small btn-info' %> </li>
        </ul>
      </div>

    <div class="row-fluid">
    <div class="span12">
      <div class="tab-pane">
        <table class="table table-hover">
          <%= render :partial => 'heading' %>
          <%= render :partial => 'advert', :collection =>  @adverts %>
        </table>
      </div>
    </div>
   </div>

  </div>
</div>
</div>