<div class="container-fluid">
  <div class="row-fluid">
    <h2>Showing details for <%= @product.console.console_format %> <%= @product.name %></h2>
    <div class="span12">
      <div class="span6 push-down">
        <% if @product.is_bundle %>
          <%= image_tag(@product.image, size: '500x300') %>
        <% else %>
            <%= image_tag(@product.image, size: '200x100') %>
        <% end %>
      </div>

      <div class="span6 push-down">
         <h5>Description</h5>
        </div>

        <div class="row-fluid span12 push-down">
          <div class="span5 well">
          <% if @product.item1.nil? && @product.item2.nil? && @product.item3.nil?  %>
              <h5>No included items</h5>
          <% else %>
              <h5>Included items</h5>
              <ul>
                <li><%=@product.item1 %></li>
                <li><%=@product.item2 %></li>
                <li><%=@product.item3 %></li>
                <% if @product.extra_controller %>
                    <li>1 Extra Controller</li>
                <% end %>
              </ul>
              </div>
          <% end %>
          </div>
        </div>

      </div>
</div>