<div class="container">
 <div class="row-fluid span12">
  <div class="row-fluid">
    <div class="span12 ">
      <div class="span12 push-right">
        <ul>
          <h4><li><%= image_tag('green-thumb.jpg', size: '40x40') %>  Welcome to ConsoleDeals.com</li></h4>
          <h4><li><%= image_tag('green-thumb.jpg', size: '40x40') %> Use the  console search option to find your perfect console deal</li></h4>
          <h4><li><%= image_tag('green-thumb.jpg', size: '40x40') %> All products are displayed in order of lowest price</li></h4>
        </ul>
      </div>
     </div>
    </div>
  <div class="row-fluid span12">
    <div id="top-games"></div>
  </div>

  <div class="row-fluid span12">
    <div class="row-fluid span9">
      <div id ="nudge_left">
        <h1>Find Top Console Deals</h1>
          <%= image_tag("xboxbundles.PNG",  class:"push-down") %>
         <hr/>
         <%= image_tag("nds_consoles.PNG",  class:"push-down") %>
       </div>
    </div>
    <div class="row-fluid span3">
     <%= render 'shared/twitter' %>
    </div>
   </div>
  </div>
 </div>




<script>

  xbox_one = [];
  ps4 = [];

   games = {"xb":[{title:"Call of Duty Ghosts", position: 1},
                     {title:"Grand theft auto 5", position:2},
                     {title:"Fifa 14"}, {position:4},
                     {title:"Gears of War 4", position:5}],
                "ps4":[{title:"Grand theft auto 5", position:1},
                     {title:"Elder scrolls skrim", position:2},
                     {title:"Call of Duty Ghosts", position:3},
                     {title:"Fifa 14", position:4},
                     {title:"Metal Gear Solid 5", position:5}]};


   for(i=0; i < games["xb"].length; i++){
      xbox_one.push(games[i]);

   }

    $(document).ready(function() {

        $("#front-bounce").effect( "bounce", {times: 2}, "slow" );
      });

</script>