<!DOCTYPE html>
<html>
<head>
  <title>ConsoleDeals</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div id="header">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><%= image_tag("xboxonebanner2.jpg" ) %></div>
            <div class="item"><%= image_tag("ps4banner.png") %></div>
            <div class="item"><%= image_tag("Nintendo-3DS-banner.jpg") %></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    <div class="container-fluid">
      <div class="row-fluid">
       <div class="span12">
        <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="navbar-inner">
          <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown -->
            <%= link_to "ConsoleDeals.com", root_path, class: "brand" %>

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse navbar-responsive-collapse">
              <ul class="nav">
                <!--add admin filter to the link below -->
                <li><%= link_to "Console Search", gift_search_path %></li>
                <li><%= link_to "Adverts", adverts_path %></li>
                <li><%= link_to "Chat", '/chatroom' %></li>
                <% if is_admin? %>
                  <li><%= link_to "Admin",admin_path %></li>
                <% end %>
              </ul>

              <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag('cart.jpg', size: '30x30', id:'cart-glow') %> Cart<b class="caret"></b></a>
                 <ul class="dropdown-menu pull-right" id="cart-dropdown">
                   <% if @cart.nil? %>
                     <li> No Items in cart</li>
                    <% else %>
                        <div id="cart">
                          <%= render @cart %>
                        </div>
                          <%= link_to "Check Out", new_order_path, class: 'btn btn-xs btn-success', id: 'reserve-button' %>
                    <% end %>
                  </ul>
                <% unless current_user %>
                <li><%= link_to "Register", new_user_registration_path %></li>
                <% end %>

                <li class="divider-vertical"></li>
                <li class="dropdown">
                  <% if current_user %>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                  <% else %>
                  <a href="<%= new_user_session_path %>">Sign in </a>
                      <% end %>
                  <% if current_user %>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", user_url(current_user) %></li>
                    <li><a href="<%= new_advert_path %>">Create advert</a></li>
                    <li><a href="/chatroom">Chat</a></li>
                    <li class="divider"></li>
                    <li><a href="<%= logout_path  %>">Sign out</a></li>
                    <% else %>

                  <% end %>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <%= render 'layouts/messages' %>

<%= yield %>
   <div class="footer">
     <p id="copyright">Copyright Paul Mannion <%= Time.now.year %></p>
   </div>

</body>
</html>

<script>
    $("#delete_lineitem").click(function(event){
        event.preventDefault();
        var row = $(this).parents('tr:first');
        $.ajax({
            type: "POST",
            url: '/line-items/:id/',
            dataType: "json",
            data: {method:"delete"},
            complete: function(){
                alert("Deleted successfully");
                $(row).remove();
            }
        });

    });

</script>